.scroll-arrow {
  height:100px;
  width:auto;
  transform: rotate(90deg);
}

.arrow-container {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  animation: bounce 1s infinite;
}

.arrow-container.show {
  opacity: 1;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}