.workshops-width {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.workshops-with-title {
  width: min(calc(100vw - 200px + 120px), calc(800px + 120px));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workshops-title {
  margin: 20px;
  font-size: 40px;
}

.workshops-container {
  position: relative;
  box-sizing: border-box;
  columns: 2;
  column-gap: 0;
}

.workshop {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 20px);
  /* Subtracting the margin from the width */
  padding: 20px;
  margin: 10px;
  background-color: var(--transperent-box);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .workshops-container {
    columns: 1;
  }

  .workshops-with-title {
    width: calc(100% - 20px);
  }
}