body {
  background-color: rgb(28, 33, 48);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: start;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

.header {
  position: absolute;
  left:5vw;
  top:8vh;
  display: block;
  overflow-x: clip;
}

.top-left-image {
  position: absolute;
  top: 0;
  left: 0;
}

.center-content {
  display: flex;
  margin: auto;
}


.content {
  width: 100%;
  text-align: center;
}

.tagline {
  color:#FFF;
  font-size: 20px;
}

.time-location {
  color:#FFF;
  font-size: 20px;
}

.info {
  color:#FFF;
  font-size: 20px;
}

.button-link {
  display: inline-block;
  padding: 20px 25px;
  background-color: rgb(255, 234, 100);
  color: rgba(0, 0, 0, 0.702);
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.faq {
  width: 90vh;
  background-color: #353f5f;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left:50px;

  margin: 20px auto;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-logo {
  padding:20px
}


.sunset-top {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.sun {
  height: 150px;
  position: absolute;
  left: 50%;
  position: translateX(-50%);
  z-index: -1;
}

.hills-front {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* .hills-back {
  position: absolute;
  bottom: 0;
  right: 0;
} */

.hills_back_all {
  position: absolute;
  bottom: 0;
  right: 0;
}

.clouds {
  position: absolute;
  top: 0;
  right: 0;
}

.hill-gradient {
  /* Set the size of the gradient background */
  width: 100%;
  height: 100vh; /* Adjust the height as needed */

  /* Define the gradient */
  background: linear-gradient(to bottom, rgb(92, 144, 96), rgba(0,0,0,0));
}