@import 'shared-formatting.css';

.question {
    color: white;
    font-weight:bold;
    font-size:18px;
    display:flex;
    align-items: center;
}

.question p {
    padding-left: 5px;
}

.question:hover {
    cursor: pointer;
}

.answer {
    color: white;
}

.arrow {
    height:20px;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(90deg);
}