@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --background-light: rgb(167, 220, 255);
  --background: #151925; /* also in App.js */
  --accent-yellow: rgb(255, 234, 100);
  --accent-blue: #64ddff; /* fix this */
  --transperent-box: #44619a62;
  --hill-green: rgb(92, 144, 96);
}

body {
  margin: 0;
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
